In [22]:
# Creating tuple with single element
tp = ("Hello",)
tp

('Hello',)

In [23]:
# The tuple() Constructor
tp = tuple([1,2,3,4,5]) # Type-Casting
tp

(1, 2, 3, 4, 5)

ðŸ“Œ `Note` - Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

In [24]:
# But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)
x

('apple', 'kiwi', 'cherry')

In [26]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
thistuple

('apple', 'banana', 'cherry', 'orange')

In [27]:
# Add tuple to a tuple
(1,2,3,4,5) + (1,)

(1, 2, 3, 4, 5, 1)

In [28]:
# # Multiply tuple
(1,2,3,4,5) * 3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [29]:
# Deleting a tuple
tp = tuple("Shriram")
print(tp)
del tp

('S', 'h', 'r', 'i', 'r', 'a', 'm')

In [30]:
# Unpacking a tuple
tp = (1,2,3,4,5)
a,b,c,d,e = tp
print(a,b,c,d,e)

1 2 3 4 5

In [32]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

green, yellow, *red = fruits
# This will work for all types of collection datatypes

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [33]:
# Join tuples
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [34]:
# Multiple Tuples
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [19]:
fruits.count('apple')

1

In [20]:
fruits.index('apple')

0