ðŸ“Œ `Note` - 
- Set items are unordered, unchangeable, and do not allow duplicate values.
- Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

In [1]:
# Duplicate values will be ignored:
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'cherry', 'apple', 'banana'}

In [2]:
# The values True and 1 are considered the same value in sets, and are treated as duplicates:
st = {1, 0, True, False}
print(st)

{0, 1}

In [3]:
# The set() Constructor
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'cherry', 'apple', 'banana'}

In [4]:
# You cannot use indices
thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)

cherry
apple
banana

In [10]:
# Insertion method
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'orange', 'apple', 'cherry', 'banana'}

In [5]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

# The function will update the existing set rather than returning new one
thisset.update(tropical)
print(thisset)

{'cherry', 'pineapple', 'banana', 'papaya', 'apple', 'mango'}

In [12]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)
print(thisset)

{'kiwi', 'banana', 'cherry', 'orange', 'apple'}

In [6]:
# If the item to remove does not exist, remove() will raise an error.
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'cherry', 'apple'}

In [7]:
# If the item to remove does not exist, discard() will NOT raise an error.
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

{'cherry', 'apple'}

## SET METHODS
- The union() and update() methods joins all items from both sets.
- The intersection() method keeps ONLY the duplicates.
- The difference() method keeps the items from the first set that are not in the other set(s).
- The symmetric_difference() method keeps all items EXCEPT the duplicates.

In [8]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

# `union` will return new set but `update` will modify existing set
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'c', 'b'}

In [9]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

# Using binary or operator
set3 = set1 | set2
print(set3)

{1, 2, 3, 'a', 'c', 'b'}

In [10]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

# Multiple union operations
myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 3, 'Elena', 'a', 'apple', 'bananas', 'b', 'cherry', 'c', 'John'}

In [11]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{1, 2, 3, 'Elena', 'a', 'apple', 'bananas', 'b', 'cherry', 'c', 'John'}

In [16]:
x = {"a", "b", "c"}
y = (1, 2, 3)

# Join a set and tuple
z = x.union(y)
print(z)

x.update(y)
print(x)

{1, 2, 3, 'a', 'b', 'c'}
{1, 2, 3, 'a', 'b', 'c'}

In [17]:
# Same elements from both set - multiple applicable
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [18]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

# Binary & Operator
set3 = set1 & set2
print(set3)

{'apple'}

In [19]:
# The intersection_update() method will also keep ONLY the duplicates, but it will change the original set instead of returning a new set.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)
print(set1)

{'apple'}

In [20]:
# Elements not present in calller function
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)
print(set3)

{'cherry', 'banana'}

In [27]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)
# Note: The - operator only allows you to join sets with sets, and not with other data types like you can with the difference() method.

{'cherry', 'banana'}

In [21]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

# Implace Update
set1.difference_update(set2)
print(set1)

{'cherry', 'banana'}

In [22]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

# Elements remaining in both the sets
set3 = set1.symmetric_difference(set2)
print(set3)

{'banana', 'microsoft', 'cherry', 'google'}

In [23]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

# Binary XOR operator
set3 = set1 ^ set2
print(set3)

{'banana', 'microsoft', 'cherry', 'google'}

In [24]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)
print(set1)

{'microsoft', 'banana', 'cherry', 'google'}

In [25]:
set1 = {"apple", "banana", "cherry"}
set1.pop() # The compliler will decide which element to pop
set1

{'apple', 'banana'}

In [26]:
# Return True if no items in set x is present in set y
set1 = {"apple", "banana", "cherry"}
set2 = {"apple", "banana", "cherry"}

set1.isdisjoint(set2)

False

In [27]:
set1 = {"apple", "banana", "cherry"}
set2 = {"apple", "banana", "cherry"}

set1.issubset(set2)

True

In [28]:
set1 = {"apple", "banana", "cherry"}
set2 = {"apple", "banana", "cherry"}

set1.issuperset(set2)

True